   
<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="well">
      <div class="alignment row">
        <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, authenticated_root_path %>
      </div>
            <center><h3 style= "margin-top: -15px"><b>Add Education</b></h3></center>

      <%= simple_form_for @education, :url => { :controller => "basics", :action => "education_create" }, :html => {:method => :post,  'parsley-validate' => '' },  defaults: { :input_html => {'data-parsley-required'=> 'true' , :data => {'parsley-trigger'=> 'blur'} } } do |f| %>
            <%= render 'education', :f => f %>
        <center><%= f.submit "submit", :class => "btn btn-primary" %>
        </center>
      <% end %>
    </div>
  </div>
</div>
<script>
  $('#new_education_detail').parsley();
</script>
